In [53]:
import pandas as pd
import numpy as np

path=r"E:\Users\Boeing\Desktop\aliyun tianchi\二手车交易价格预测\analysis\\"

train_data = pd.read_csv(path+r'数据处理1(删除无关特征,注册日期处理)\traindata_删换版本.csv')
test_data = pd.read_csv(path+r'数据处理1(删除无关特征,注册日期处理)\test_data_删换版本.csv')

print('train data shape:',train_data.shape)
print('test data shape:',test_data.shape)

#删除多余的序号
train_data.drop(columns=['Unnamed: 0'],inplace=True)
test_data.drop(columns=['Unnamed: 0'],inplace=True)

train data shape: (150000, 28)
test data shape: (50000, 27)

In [318]:
train_data.iloc[:,:15].head()

,注册日期,车型编码,汽车品牌,车身类型,燃油类型,变速箱,发动机功率,已行驶公里,有无尚未修复的损坏,地区编码,汽车上线时间,交易价格,v_0,v_1,v_2
0,20040402,30.0,6,1.0,0.0,0.0,60,12.5,0.0,1046,20160404,1850,43.357796,3.966344,0.050257
1,20030301,40.0,1,2.0,0.0,0.0,0,15.0,-,4366,20160309,3600,45.305273,5.236112,0.137925
2,20040403,115.0,15,1.0,0.0,0.0,163,12.5,0.0,2806,20160402,6222,45.978359,4.823792,1.319524
3,19960908,109.0,10,0.0,0.0,1.0,193,15.0,0.0,434,20160312,2400,45.687478,4.492574,-0.050616
4,20120103,110.0,5,1.0,0.0,0.0,68,5.0,0.0,6977,20160313,5200,44.383511,2.031433,0.572169

In [319]:
test_data.iloc[:,:15].head()

,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,regionCode,creatDate,v_0,v_1,v_2,v_3
0,20000501,67.0,0,1.0,0.0,0.0,101,15.0,0.0,5019,20160308,42.142061,-3.094739,-0.721300,1.466344
1,19950211,19.0,6,2.0,0.0,0.0,73,6.0,0.0,1505,20160310,43.907034,-3.244605,-0.766430,1.276718
2,20090606,5.0,5,4.0,0.0,0.0,120,5.0,-,1776,20160309,45.389665,3.372384,-0.965565,-2.447316
3,20020601,22.0,9,1.0,0.0,0.0,58,15.0,0.0,26,20160314,42.788775,4.035052,-0.217403,1.708806
4,20030301,46.0,6,0.0,NaN,0.0,116,15.0,0.0,738,20160306,43.670763,-3.135382,-1.134107,0.470315

# 2.构造字段‘上线时间-注册日期’  第二阶段：（汽车使用天数计算）:

In [54]:
train_period=pd.to_datetime(train_data['汽车上线时间'].astype('str'))-pd.to_datetime(train_data['注册日期'].astype('str'))
test_period=pd.to_datetime(test_data['creatDate'].astype('str'))-pd.to_datetime(test_data['regDate'].astype('str'))

1. 增加'使用时间'字段：

In [55]:
train_data['使用时间']=train_period.dt.days
col_name = train_data.columns.tolist()
print(col_name)

['注册日期', '车型编码', '汽车品牌', '车身类型', '燃油类型', '变速箱', '发动机功率', '已行驶公里', '有无尚未修复的损坏', '地区编码', '汽车上线时间', '交易价格', 'v_0', 'v_1', 'v_2', 'v_3', 'v_4', 'v_5', 'v_6', 'v_7', 'v_8', 'v_9', 'v_10', 'v_11', 'v_12', 'v_13', 'v_14', '使用时间']

In [56]:
train_data=train_data[['使用时间','注册日期', '车型编码', '汽车品牌', '车身类型', '燃油类型', '变速箱', '发动机功率', '已行驶公里', '有无尚未修复的损坏', '地区编码', '汽车上线时间', '交易价格', 'v_0', 'v_1', 'v_2', 'v_3', 'v_4', 'v_5', 'v_6', 'v_7', 'v_8', 'v_9', 'v_10', 'v_11', 'v_12', 'v_13', 'v_14']]

In [57]:
test_data['使用时间']=test_period.dt.days
col_name = test_data.columns.tolist()
print(col_name)

['regDate', 'model', 'brand', 'bodyType', 'fuelType', 'gearbox', 'power', 'kilometer', 'notRepairedDamage', 'regionCode', 'creatDate', 'v_0', 'v_1', 'v_2', 'v_3', 'v_4', 'v_5', 'v_6', 'v_7', 'v_8', 'v_9', 'v_10', 'v_11', 'v_12', 'v_13', 'v_14', '使用时间']

In [59]:
test_data=test_data[['使用时间','regDate', 'model', 'brand', 'bodyType', 'fuelType', 'gearbox', 'power', 'kilometer', 'notRepairedDamage', 'regionCode', 'creatDate', 'v_0', 'v_1', 'v_2', 'v_3', 'v_4', 'v_5', 'v_6', 'v_7', 'v_8', 'v_9', 'v_10', 'v_11', 'v_12', 'v_13', 'v_14']]

2. 删除‘注册日期’，‘汽车上线时间’字段：

In [60]:
train_data=train_data.drop(['注册日期','汽车上线时间'],axis=1)
test_data=test_data.drop(['creatDate','regDate'],axis=1)

# 3. 对发动机功率进行数据分桶：（选择型）

In [157]:
#合并数据集进行分桶
total=pd.concat([train_data.发动机功率,test_data.power],axis=0)
print(pd.concat([train_data.发动机功率,test_data.power],axis=0))

0         60
1          0
2        163
3        193
4         68
        ...
49995    150
49996    179
49997    147
49998    176
49999      0
Length: 200000, dtype: int64

测试集训练集合并分桶：

In [158]:
pd.qcut(total,36,labels=None,duplicates='drop')

0          (58.0, 60.0]
1        (-0.001, 51.0]
2        (155.0, 163.0]
3        (192.0, 204.0]
4          (64.0, 69.0]
              ...
49995    (144.0, 150.0]
49996    (177.0, 192.0]
49997    (144.0, 150.0]
49998    (170.0, 177.0]
49999    (-0.001, 51.0]
Length: 200000, dtype: category
Categories (31, interval[float64]): [(-0.001, 51.0] < (51.0, 58.0] < (58.0, 60.0] < (60.0, 64.0] ... (192.0, 204.0] < (204.0, 231.0] < (231.0, 272.0] < (272.0, 19312.0]]

In [159]:
train_data.发动机功率=pd.qcut(total,36,labels=None,duplicates='drop')[:150000]

In [160]:
test_data.power=pd.qcut(total,36,labels=None,duplicates='drop')[150000:]

In [130]:
train_data.head()

,使用时间,车型编码,汽车品牌,车身类型,燃油类型,变速箱,发动机功率,已行驶公里,有无尚未修复的损坏,地区编码,...,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,4385,30.0,6,1.0,0.0,0.0,"(58.0, 60.0]",12.5,0.0,1046,...,0.235676,0.101988,0.129549,0.022816,0.097462,-2.881803,2.804097,-2.420821,0.795292,0.914762
1,4757,40.0,1,2.0,0.0,0.0,"(-0.001, 51.0]",15.0,-,4366,...,0.264777,0.121004,0.135731,0.026597,0.020582,-4.900482,2.096338,-1.030483,-1.722674,0.245522
2,4382,115.0,15,1.0,0.0,0.0,"(155.0, 163.0]",12.5,0.0,2806,...,0.251410,0.114912,0.165147,0.062173,0.027075,-4.846749,1.803559,1.565330,-0.832687,-0.229963
3,7125,109.0,10,0.0,0.0,1.0,"(192.0, 204.0]",15.0,0.0,434,...,0.274293,0.110300,0.121964,0.033395,0.000000,-4.509599,1.285940,-0.501868,-2.438353,-0.478699
4,1531,110.0,5,1.0,0.0,0.0,"(64.0, 69.0]",5.0,0.0,6977,...,0.228036,0.073205,0.091880,0.078819,0.121534,-1.896240,0.910783,0.931110,2.834518,1.923482

In [131]:
test_data.head()

,使用时间,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,regionCode,...,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,5790,67.0,0,1.0,0.0,0.0,"(100.0, 101.0]",15.0,0.0,5019,...,0.236520,0.000241,0.105319,0.046233,0.094522,3.619512,-0.280607,-2.019761,0.978828,0.803322
1,7698,19.0,6,2.0,0.0,0.0,"(69.0, 75.0]",6.0,0.0,1505,...,0.261518,0.000000,0.120323,0.046784,0.035385,2.997376,-1.406705,-1.020884,-1.349990,-0.200542
2,2468,5.0,5,4.0,0.0,0.0,"(116.0, 122.0]",5.0,-,1776,...,0.261691,0.090836,0.000000,0.079655,0.073586,-3.951084,-0.433467,0.918964,1.634604,1.027173
3,5035,22.0,9,1.0,0.0,0.0,"(51.0, 58.0]",15.0,0.0,26,...,0.236050,0.101777,0.098950,0.026830,0.096614,-2.846788,2.800267,-2.524610,1.076819,0.461610
4,4754,46.0,6,0.0,NaN,0.0,"(115.0, 116.0]",15.0,0.0,738,...,0.257000,0.000000,0.066732,0.057771,0.068852,2.839010,-1.659801,-0.924142,0.199423,0.451014

# 4.'已行驶公里'标准化：(选择型)

In [9]:
from sklearn.preprocessing import StandardScaler
transfer = StandardScaler()
#标准化‘已行驶公里’
stand_train = transfer.fit_transform(np.array(train_data['已行驶公里']).reshape(-1, 1))
stand_test = transfer.transform(np.array(test_data['kilometer']).reshape(-1, 1))

In [10]:
train_data.已行驶公里=stand_train
test_data.kilometer=stand_test

In [11]:
train_data.head()

,使用时间,车型编码,汽车品牌,车身类型,燃油类型,变速箱,发动机功率,已行驶公里,有无尚未修复的损坏,地区编码,...,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,4385,30.0,6,1.0,0.0,0.0,60,-0.024788,0.0,1046,...,0.235676,0.101988,0.129549,0.022816,0.097462,-2.881803,2.804097,-2.420821,0.795292,0.914762
1,4757,40.0,1,2.0,0.0,0.0,0,0.613038,-,4366,...,0.264777,0.121004,0.135731,0.026597,0.020582,-4.900482,2.096338,-1.030483,-1.722674,0.245522
2,4382,115.0,15,1.0,0.0,0.0,163,-0.024788,0.0,2806,...,0.251410,0.114912,0.165147,0.062173,0.027075,-4.846749,1.803559,1.565330,-0.832687,-0.229963
3,7125,109.0,10,0.0,0.0,1.0,193,0.613038,0.0,434,...,0.274293,0.110300,0.121964,0.033395,0.000000,-4.509599,1.285940,-0.501868,-2.438353,-0.478699
4,1531,110.0,5,1.0,0.0,0.0,68,-1.938267,0.0,6977,...,0.228036,0.073205,0.091880,0.078819,0.121534,-1.896240,0.910783,0.931110,2.834518,1.923482

In [329]:
test_data.head()

,使用时间,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,regionCode,...,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,5790,67.0,0,1.0,0.0,0.0,101,0.613038,0.0,5019,...,0.236520,0.000241,0.105319,0.046233,0.094522,3.619512,-0.280607,-2.019761,0.978828,0.803322
1,7698,19.0,6,2.0,0.0,0.0,73,-1.683137,0.0,1505,...,0.261518,0.000000,0.120323,0.046784,0.035385,2.997376,-1.406705,-1.020884,-1.349990,-0.200542
2,2468,5.0,5,4.0,0.0,0.0,120,-1.938267,-,1776,...,0.261691,0.090836,0.000000,0.079655,0.073586,-3.951084,-0.433467,0.918964,1.634604,1.027173
3,5035,22.0,9,1.0,0.0,0.0,58,0.613038,0.0,26,...,0.236050,0.101777,0.098950,0.026830,0.096614,-2.846788,2.800267,-2.524610,1.076819,0.461610
4,4754,46.0,6,0.0,NaN,0.0,116,0.613038,0.0,738,...,0.257000,0.000000,0.066732,0.057771,0.068852,2.839010,-1.659801,-0.924142,0.199423,0.451014

# 4.类别特征更换：(选择型)

训练集类别特征更换：

In [163]:
train_data.车身类型.replace({0:'a',1:'b',2:'c',3:'d',4:'e',5:'f',6:'g',7:'h'},inplace=True)

train_data.燃油类型.replace({0:'a',1:'b',2:'c',3:'d',4:'e',5:'f',6:'g'},inplace=True)
#train_data['model'].value_counts()
train_data.汽车品牌.replace({0:'a',1:'b',2:'c',3:'d',4:'e',5:'f',6:'g',7:'h',8:'i',9:'j',
                         10:'k',11:'l',12:'m',13:'n',14:'o',15:'p',16:'q',17:'r',18:'s',19:'t',
                         20:'u',21:'v',22:'w',23:'x',24:'y',25:'z',26:'aa',27:'ab',28:'ac',29:'ad',
                         30:'ae',31:'af',32:'ag',33:'ah',34:'ai',35:'aj',36:'ak',37:'al',38:'am',39:'an'
                        },inplace=True)

In [69]:
train_data.head()

,使用时间,车型编码,汽车品牌,车身类型,燃油类型,变速箱,发动机功率,已行驶公里,有无尚未修复的损坏,地区编码,...,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,4385,30.0,g,b,a,0.0,"(58.0, 60.0]",-0.024788,0.0,1046,...,0.235676,0.101988,0.129549,0.022816,0.097462,-2.881803,2.804097,-2.420821,0.795292,0.914762
1,4757,40.0,b,c,a,0.0,"(-0.001, 51.0]",0.613038,-,4366,...,0.264777,0.121004,0.135731,0.026597,0.020582,-4.900482,2.096338,-1.030483,-1.722674,0.245522
2,4382,115.0,p,b,a,0.0,"(155.0, 163.0]",-0.024788,0.0,2806,...,0.251410,0.114912,0.165147,0.062173,0.027075,-4.846749,1.803559,1.565330,-0.832687,-0.229963
3,7125,109.0,k,a,a,1.0,"(192.0, 204.0]",0.613038,0.0,434,...,0.274293,0.110300,0.121964,0.033395,0.000000,-4.509599,1.285940,-0.501868,-2.438353,-0.478699
4,1531,110.0,f,b,a,0.0,"(64.0, 69.0]",-1.938267,0.0,6977,...,0.228036,0.073205,0.091880,0.078819,0.121534,-1.896240,0.910783,0.931110,2.834518,1.923482

测试集类别特征更换：

In [164]:
test_data.bodyType.replace({0:'a',1:'b',2:'c',3:'d',4:'e',5:'f',6:'g',7:'h'},inplace=True)

test_data.fuelType.replace({0:'a',1:'b',2:'c',3:'d',4:'e',5:'f',6:'g'},inplace=True)

test_data.brand.replace({0:'a',1:'b',2:'c',3:'d',4:'e',5:'f',6:'g',7:'h',8:'i',9:'j',
                         10:'k',11:'l',12:'m',13:'n',14:'o',15:'p',16:'q',17:'r',18:'s',19:'t',
                         20:'u',21:'v',22:'w',23:'x',24:'y',25:'z',26:'aa',27:'ab',28:'ac',29:'ad',
                         30:'ae',31:'af',32:'ag',33:'ah',34:'ai',35:'aj',36:'ak',37:'al',38:'am',39:'an'
                        },inplace=True)

In [71]:
test_data.head()

,使用时间,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,regionCode,...,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,5790,67.0,a,b,a,0.0,"(100.0, 101.0]",0.613038,0.0,5019,...,0.236520,0.000241,0.105319,0.046233,0.094522,3.619512,-0.280607,-2.019761,0.978828,0.803322
1,7698,19.0,g,c,a,0.0,"(69.0, 75.0]",-1.683137,0.0,1505,...,0.261518,0.000000,0.120323,0.046784,0.035385,2.997376,-1.406705,-1.020884,-1.349990,-0.200542
2,2468,5.0,f,e,a,0.0,"(116.0, 122.0]",-1.938267,-,1776,...,0.261691,0.090836,0.000000,0.079655,0.073586,-3.951084,-0.433467,0.918964,1.634604,1.027173
3,5035,22.0,j,b,a,0.0,"(51.0, 58.0]",0.613038,0.0,26,...,0.236050,0.101777,0.098950,0.026830,0.096614,-2.846788,2.800267,-2.524610,1.076819,0.461610
4,4754,46.0,g,a,NaN,0.0,"(115.0, 116.0]",0.613038,0.0,738,...,0.257000,0.000000,0.066732,0.057771,0.068852,2.839010,-1.659801,-0.924142,0.199423,0.451014

# 5.特征提取：(选择型)

In [74]:
train_data.corr('pearson').交易价格

使用时间    -0.611871
车型编码     0.136983
变速箱      0.329075
已行驶公里   -0.440519
地区编码     0.014036
交易价格     1.000000
v_0      0.628397
v_1      0.060914
v_2      0.085322
v_3     -0.730946
v_4     -0.147085
v_5      0.164317
v_6      0.068970
v_7     -0.053024
v_8      0.685798
v_9     -0.206205
v_10    -0.246175
v_11    -0.275320
v_12     0.692823
v_13    -0.013993
v_14     0.035911
Name: 交易价格, dtype: float64

In [12]:
#匿名特征中相关系数小于0.2的特征进行了保留95%信息的pca降维
pca_traindata=train_data[['v_1','v_2','v_4','v_6','v_7','v_13','v_14']]
pca_testdata=test_data[['v_1','v_2','v_4','v_6','v_7','v_13','v_14']]

In [13]:
from sklearn.decomposition import PCA
transfer = PCA(n_components=0.95)
traindata_new=transfer.fit_transform(pca_traindata)
testdata_new=transfer.transform(pca_testdata)
#pca降维后的数据：
pd.DataFrame(traindata_new,columns=['pca1','pca2','pca3'])
pd.DataFrame(testdata_new,columns=['pca1','pca2','pca3'])

           pca1      pca2      pca3
0     -3.038762 -0.856344  1.319091
1     -3.207398 -0.807787 -1.710214
2      3.434812 -1.098372  1.475310
3      4.090115 -0.325458  1.465707
4     -3.084091 -1.238247  0.172543
...         ...       ...       ...
49995 -3.267789  0.016988 -1.324128
49996 -3.275784  0.860845  0.332002
49997 -3.268370 -0.071419 -1.267282
49998 -3.160940 -1.170732 -2.559266
49999  4.242554  0.395046  2.732252

[50000 rows x 3 columns]

In [14]:
#合并降维后的数据和原本样本集：
train_data=pd.concat([train_data,pd.DataFrame(traindata_new,columns=['pca1','pca2','pca3'])],axis=1)
test_data=pd.concat([test_data,pd.DataFrame(testdata_new,columns=['pca1','pca2','pca3'])],axis=1)

In [15]:
#删除降维的原数据：
train_data.drop(columns=['v_1','v_2','v_4','v_6','v_7','v_13','v_14'],inplace=True)
test_data.drop(columns=['v_1','v_2','v_4','v_6','v_7','v_13','v_14'],inplace=True)

In [172]:
train_data.head()

,使用时间,车型编码,汽车品牌,车身类型,燃油类型,变速箱,发动机功率,已行驶公里,有无尚未修复的损坏,地区编码,...,v_3,v_5,v_8,v_9,v_10,v_11,v_12,pca1,pca2,pca3
0,4385,30.0,g,b,a,0.0,"(58.0, 60.0]",-0.024788,0.0,1046,...,2.159744,0.235676,0.022816,0.097462,-2.881803,2.804097,-2.420821,4.018539,-0.050486,1.249280
1,4757,40.0,b,c,a,0.0,"(-0.001, 51.0]",0.613038,-,4366,...,1.380657,0.264777,0.026597,0.020582,-4.900482,2.096338,-1.030483,5.267682,0.143558,-2.281783
2,4382,115.0,p,b,a,0.0,"(155.0, 163.0]",-0.024788,0.0,2806,...,-0.998467,0.251410,0.062173,0.027075,-4.846749,1.803559,1.565330,4.857190,1.293546,-1.271787
3,7125,109.0,k,a,a,1.0,"(192.0, 204.0]",0.613038,0.0,434,...,0.883600,0.274293,0.033395,0.000000,-4.509599,1.285940,-0.501868,4.518695,-0.016572,-3.295204
4,1531,110.0,f,b,a,0.0,"(64.0, 69.0]",-1.938267,0.0,6977,...,-1.571239,0.228036,0.078819,0.121534,-1.896240,0.910783,0.931110,2.097943,0.381617,3.431249

In [173]:
test_data.head()

,使用时间,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,regionCode,...,v_3,v_5,v_8,v_9,v_10,v_11,v_12,pca1,pca2,pca3
0,5790,67.0,a,b,a,0.0,"(100.0, 101.0]",0.613038,0.0,5019,...,1.466344,0.236520,0.046233,0.094522,3.619512,-0.280607,-2.019761,-3.038762,-0.856344,1.319091
1,7698,19.0,g,c,a,0.0,"(69.0, 75.0]",-1.683137,0.0,1505,...,1.276718,0.261518,0.046784,0.035385,2.997376,-1.406705,-1.020884,-3.207398,-0.807787,-1.710214
2,2468,5.0,f,e,a,0.0,"(116.0, 122.0]",-1.938267,-,1776,...,-2.447316,0.261691,0.079655,0.073586,-3.951084,-0.433467,0.918964,3.434812,-1.098372,1.475310
3,5035,22.0,j,b,a,0.0,"(51.0, 58.0]",0.613038,0.0,26,...,1.708806,0.236050,0.026830,0.096614,-2.846788,2.800267,-2.524610,4.090115,-0.325458,1.465707
4,4754,46.0,g,a,NaN,0.0,"(115.0, 116.0]",0.613038,0.0,738,...,0.470315,0.257000,0.057771,0.068852,2.839010,-1.659801,-0.924142,-3.084091,-1.238247,0.172543

# 6.power异常值处理：（选择型）

In [13]:
train_data.发动机功率

0          60
1           0
2         163
3         193
4          68
         ...
149995    163
149996    125
149997     90
149998    156
149999    193
Name: 发动机功率, Length: 150000, dtype: int64

In [26]:
train_data.发动机功率[train_data.发动机功率>600]

221         740
534        7515
919        1398
4077        601
4398       1771
          ...
148030      776
148246     2598
148365    17700
148665    19312
149251      680
Name: 发动机功率, Length: 143, dtype: int64

In [25]:
test[train_data.发动机功率[train_data.发动机功率>600].index]

221        74
534        75
919       140
4077       60
4398      177
         ...
148030     78
148246    260
148365    177
148665    193
149251     68
Name: 发动机功率, Length: 143, dtype: int64

In [17]:
test[test<=600]

0          60.0
1           0.0
2         163.0
3         193.0
4          68.0
          ...
149995    163.0
149996    125.0
149997     90.0
149998    156.0
149999    193.0
Name: 发动机功率, Length: 150000, dtype: float64

In [3]:
train_data.发动机功率.describe()

count    150000.000000
mean        119.316547
std         177.168419
min           0.000000
25%          75.000000
50%         110.000000
75%         150.000000
max       19312.000000
Name: 发动机功率, dtype: float64

In [20]:
def fun(x):
    if x<=600:
        return x
    elif x>600 and x<6000:
        return round(x*0.1)
    else:
        return round(x*0.01)
test=train_data.发动机功率.apply(fun)

# 7.转换类型：str——>int

In [61]:
train_data.有无尚未修复的损坏.replace({'-':2,'0.0':0,'1.0':1},inplace=True)
test_data.notRepairedDamage.replace({'-':2,'0.0':0,'1.0':1},inplace=True)

train_data.有无尚未修复的损坏=train_data.有无尚未修复的损坏.astype('int')
test_data.notRepairedDamage=test_data.notRepairedDamage.astype('int')

In [62]:
train_data.head()

,使用时间,车型编码,汽车品牌,车身类型,燃油类型,变速箱,发动机功率,已行驶公里,有无尚未修复的损坏,地区编码,...,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,4385,30.0,6,1.0,0.0,0.0,60,12.5,0,1046,...,0.235676,0.101988,0.129549,0.022816,0.097462,-2.881803,2.804097,-2.420821,0.795292,0.914762
1,4757,40.0,1,2.0,0.0,0.0,0,15.0,2,4366,...,0.264777,0.121004,0.135731,0.026597,0.020582,-4.900482,2.096338,-1.030483,-1.722674,0.245522
2,4382,115.0,15,1.0,0.0,0.0,163,12.5,0,2806,...,0.251410,0.114912,0.165147,0.062173,0.027075,-4.846749,1.803559,1.565330,-0.832687,-0.229963
3,7125,109.0,10,0.0,0.0,1.0,193,15.0,0,434,...,0.274293,0.110300,0.121964,0.033395,0.000000,-4.509599,1.285940,-0.501868,-2.438353,-0.478699
4,1531,110.0,5,1.0,0.0,0.0,68,5.0,0,6977,...,0.228036,0.073205,0.091880,0.078819,0.121534,-1.896240,0.910783,0.931110,2.834518,1.923482

In [63]:
test_data.head()

,使用时间,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,regionCode,...,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,5790,67.0,0,1.0,0.0,0.0,101,15.0,0,5019,...,0.236520,0.000241,0.105319,0.046233,0.094522,3.619512,-0.280607,-2.019761,0.978828,0.803322
1,7698,19.0,6,2.0,0.0,0.0,73,6.0,0,1505,...,0.261518,0.000000,0.120323,0.046784,0.035385,2.997376,-1.406705,-1.020884,-1.349990,-0.200542
2,2468,5.0,5,4.0,0.0,0.0,120,5.0,2,1776,...,0.261691,0.090836,0.000000,0.079655,0.073586,-3.951084,-0.433467,0.918964,1.634604,1.027173
3,5035,22.0,9,1.0,0.0,0.0,58,15.0,0,26,...,0.236050,0.101777,0.098950,0.026830,0.096614,-2.846788,2.800267,-2.524610,1.076819,0.461610
4,4754,46.0,6,0.0,NaN,0.0,116,15.0,0,738,...,0.257000,0.000000,0.066732,0.057771,0.068852,2.839010,-1.659801,-0.924142,0.199423,0.451014

# 8.地区编码先验：

In [64]:
train_data['地区编码'] = train_data['地区编码'].apply(lambda x : str(x)[:-2])

train_data['地区编码']=train_data['地区编码'].replace('',0).astype('int')

test_data['regionCode'] = test_data['regionCode'].apply(lambda x : str(x)[:-2])

test_data['regionCode']=test_data['regionCode'].replace('',0).astype('int')

In [65]:
train_data.head()

,使用时间,车型编码,汽车品牌,车身类型,燃油类型,变速箱,发动机功率,已行驶公里,有无尚未修复的损坏,地区编码,...,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,4385,30.0,6,1.0,0.0,0.0,60,12.5,0,10,...,0.235676,0.101988,0.129549,0.022816,0.097462,-2.881803,2.804097,-2.420821,0.795292,0.914762
1,4757,40.0,1,2.0,0.0,0.0,0,15.0,2,43,...,0.264777,0.121004,0.135731,0.026597,0.020582,-4.900482,2.096338,-1.030483,-1.722674,0.245522
2,4382,115.0,15,1.0,0.0,0.0,163,12.5,0,28,...,0.251410,0.114912,0.165147,0.062173,0.027075,-4.846749,1.803559,1.565330,-0.832687,-0.229963
3,7125,109.0,10,0.0,0.0,1.0,193,15.0,0,4,...,0.274293,0.110300,0.121964,0.033395,0.000000,-4.509599,1.285940,-0.501868,-2.438353,-0.478699
4,1531,110.0,5,1.0,0.0,0.0,68,5.0,0,69,...,0.228036,0.073205,0.091880,0.078819,0.121534,-1.896240,0.910783,0.931110,2.834518,1.923482

In [66]:
test_data.head()

,使用时间,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,regionCode,...,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,5790,67.0,0,1.0,0.0,0.0,101,15.0,0,50,...,0.236520,0.000241,0.105319,0.046233,0.094522,3.619512,-0.280607,-2.019761,0.978828,0.803322
1,7698,19.0,6,2.0,0.0,0.0,73,6.0,0,15,...,0.261518,0.000000,0.120323,0.046784,0.035385,2.997376,-1.406705,-1.020884,-1.349990,-0.200542
2,2468,5.0,5,4.0,0.0,0.0,120,5.0,2,17,...,0.261691,0.090836,0.000000,0.079655,0.073586,-3.951084,-0.433467,0.918964,1.634604,1.027173
3,5035,22.0,9,1.0,0.0,0.0,58,15.0,0,0,...,0.236050,0.101777,0.098950,0.026830,0.096614,-2.846788,2.800267,-2.524610,1.076819,0.461610
4,4754,46.0,6,0.0,NaN,0.0,116,15.0,0,7,...,0.257000,0.000000,0.066732,0.057771,0.068852,2.839010,-1.659801,-0.924142,0.199423,0.451014

In [73]:
train_data.to_csv(r'E:\Users\Boeing\Desktop\aliyun tianchi\二手车交易价格预测\analysis_v2\数据处理2\traindata_XGB_ver2.csv',index=0)

test_data.to_csv(r'E:\Users\Boeing\Desktop\aliyun tianchi\二手车交易价格预测\analysis_v2\数据处理2\testdata_XGB_ver2.csv',index=0)

# 8.LGB不能识别中文字段，需要更改字段名：

In [70]:
name1={'使用时间':'usetime','车型编码':'model','汽车品牌':'brand','车身类型':'bodyType',
       '燃油类型':'fuelType','变速箱':'gearbox','发动机功率':'power','已行驶公里':'kilometer',
      '有无尚未修复的损坏':'notRepairedDamage','地区编码':'regionCode','交易价格':'price'}
traindata = train_data.rename(columns=name1)

name2={'使用时间':'usetime'}
testdata = test_data.rename(columns=name2)

In [72]:
traindata.to_csv(r'E:\Users\Boeing\Desktop\aliyun tianchi\二手车交易价格预测\analysis_v2\数据处理2\traindata_LGB_ver2.csv',index=0)

testdata.to_csv(r'E:\Users\Boeing\Desktop\aliyun tianchi\二手车交易价格预测\analysis_v2\数据处理2\testdata_LGB_ver2.csv',index=0)

# 生成数据报告：

In [ ]:
import pandas_profiling

pfr = pandas_profiling.ProfileReport(train_data)
pfr.to_file(r"E:\Users\Boeing\Desktop\report.html")